# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# 本地资产（不纳入版本控制）
/资产/

# Files from Forge MDK
forge*changelog.txt
